*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-image: linear-gradient(red, yellow);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 30rem;
    height: 50rem;
    background-color: coral;
    font-size: 2rem;
    border-radius: 1rem;
    text-align: center;
}
.nav{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: larger;

    
}
.product-display{
    width: 30rem;
    height:20rem ;
    background-color: wheat;
}
.product-name{
    width: 30rem;
    height:5rem ;
    background-color: brown;
    overflow: scroll;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.description{
    width: 30rem;
    height:20rem ;
   background-color: burlywood;
   overflow: scroll;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
